*{
    padding: 0px;
    margin: 0px;
}
body {
    font-family: 'Libre Baskerville', serif, '微軟正黑體';
    background-color: rgba(255, 250, 244, 1);
    margin: 0;
    width: 100%;
    height: 100%;
  }
  /*讓按鈕有手指圖案*/
  .mouse{
    cursor: pointer;
}
input[type=file] {
    width: 80%;
}
.toppp{
    width: 78.5%;
    padding: 6px 10px;
    box-sizing: content-box;
    border-radius: 5px;
    border: 0px;
    font-size: 17px;
    color: #5A3A29;
}
.toppp:focus{
    background-color: #b8b6b6;
}
.readonly{
    width: 70%;
    padding: 6px 10px;
    box-sizing: content-box;
    border-radius: 5px;
    border: 0px;
    font-size: 17px;
    color: #5A3A29;
}
.num{
    width: 70%;
    padding: 6px 10px;
    box-sizing: content-box;
    border-radius: 5px;
    border: 0px;
    font-size: 17px;
    color: #5A3A29;
}
.num:focus{
    background-color: #b8b6b6;
}




  header {
    width: 100%;
    height: 70px;
    background-color: rgba(90, 58, 41, 1);
    position: fixed;
    z-index: 9;
    top: 0px;
}

.header-content {
    height: 70px;
    display: flex;
    justify-content: flex-start;
    /*上右下左*/
    padding: 0px 20px 0px 20px;
}

.logo img {
    height: 70px;
}

.header-word{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 145px;
}

.header-word a{
    color: #E5E5D4;
    font-size: 30px;
    padding-left: 40px;
    padding-right: 40px;
    letter-spacing: 0.05em;
    align-items: center;
    display: flex;
}


.banner1{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #A28360;
    margin-top: 70px;
    border-top: 2px solid #EAE4DD;
}

/*banner1結束*/

.content{
    width: calc(100% - 400px);
    min-height: 705px;
    max-height: 100%;
    padding: 0px 200px;
}
.product-content{
    width: 100%;
    height: 600px;
    background-color: #E5E5D4;
    border-top: 5px solid #AB8C68;
    border-bottom: 5px solid #AB8C68;
    margin: 100px 0px;
}
.product-top{
    height: 500px;
    padding: 0px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.product-top-left{
    height: 80%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-top-left img{
    width: 200px;
    height: 200px;
    border: 2px solid #5A3A29
}
.product-top-right{
    width: 70%;
    background-color: #D9D9D9;
    height: 80%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 18px;
    border-radius: 5px;
}
.product-bottom{
    width: 80%;
    height: 50px;
    /*background-color: #A28360;*/
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-bottom a{
    text-decoration: none;
}
.top{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5A3A29;
}
.title-left{
    width: 50%;
    flex-wrap: wrap;
    display: flex;
}
.chinese{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 5px 0px;
}
.place{
    display: flex;
    align-items: center;
    width: 50%;
    margin: 5px 0px;
}
.brand{
    display: flex;
    align-items: center;
    width: 50%;
    margin: 5px 0px;
}
.title-right{
    width: 50%;
    flex-wrap: wrap;
    display: flex;
}
.english{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 5px 0px;
}
.ml{
    display: flex;
    align-items: center;
    width: 50%;
    margin: 5px 0px;
}
.price{
    display: flex;
    align-items: center;
    width: 50%;
    margin: 5px 0px;
}

.productcontent{
    font-size: 20px;
    color: #5A3A29;
    margin-top: 20px;
    margin-bottom: 5px;
    padding-right: 10px;
    display: flex;
    align-items: flex-start;
    max-height: 80px;
}
.textarea{
    margin-left: 50px;
}



.footer-slogan {
    width: 100%;
    height: 55px;
    position: fixed;
    bottom: 0;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
  }
  
  .slogan-left {
    color: #fff;
    font-size: 26px;
    letter-spacing: 0.3em;
    display: contents;
  }
  
  .slogan-right {
    color: #fff;
    font-size: 26px;
    letter-spacing: 0.3em;
    display: contents;
  }
  
  .slogan-img {
    width: 45px;
    height: 45px;
    padding: 0px 15px;
  }
  
  .slogan-left img {
    width: 100%;
    height: 100%;
  }
  
  .slogan-right img {
    width: 100%;
    height: 100%;
  }

  
  
  footer {
    background-color: #5A3A29;
    color: #fff;
    text-align: center;
    padding: 1rem 0px;
    width: 100%;
    height: 50px;
    margin-bottom: 54px;
  }

  .copy{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 60px;
    padding-top: 20px;
    border-top: 1px solid #afafaf;
    font-size: 12px;
  }




/*按鈕*/
.back-btn{
    background-color: #EAE4DD;
    color: #5A3A29;
    font-size: 20px;
    border-radius: 5px;
    border: 0px;
    padding: 2px 30px;
    margin-left: 10px;
    margin-right: 10px;
}
.back-btn:hover{
    background-color: #5A3A29;
    color: #EAE4DD;
    font-size: 20px;
    border-radius: 5px;
    border: 0px;
    padding: 2px 30px;
}
.cancel-btn{
    background-color: #8383837e;
    color: #5A3A29;
    border: 2px solid #8383837e;
    font-size: 20px;
    border-radius: 5px;
    padding: 2px 30px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}
.cancel-btn:hover{
    background-color: #EAE4DD;
    color: #5A3A29;
    border: 2px solid #8383837e;
    font-size: 20px;
    border-radius: 5px;
    padding: 2px 30px;
}
.yes-btn{
    background-color: #5A3A29;
    color: #EAE4DD;
    border: 2px solid #5A3A29;
    font-size: 20px;
    border-radius: 5px;
    padding: 2px 30px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}
.yes-btn:hover{
    background-color: #EAE4DD;
    color: #5A3A29;
    border: 2px solid #5A3A29;
    font-size: 20px;
    border-radius: 5px;
    padding: 2px 30px;
}
.insert-btn{
    background-color: #5a3a2975;
    color: #EAE4DD;
    border: 2px solid #5a3a2975;
    font-size: 20px;
    border-radius: 5px;
    padding: 2px 5px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
}
.insert-btn:hover{
    background-color: #EAE4DD;
    color: #5A3A29;
    border: 2px solid #5A3A29;
    font-size: 20px;
    border-radius: 5px;
}