* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Libre Baskerville', serif, '微軟正黑體';
    background-color: rgba(255, 250, 244, 1);
    height: 100%;
    margin: 0;
}

header {
    width: 100%;
    height: 70px;
    background-color: rgba(90, 58, 41, 1);
    position: fixed;
    z-index: 9;
    top: 0px;
}

.header-content {
    height: 70px;
    display: flex;
    justify-content: space-between;
    /*上右下左*/
    padding: 0px 20px 0px 20px;
}

.logo img {
    height: 70px;
}

.center-box {
    display: flex;
    align-items: center;
    height: 100%;
}

.menu {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul {
    /*取消項目符號*/
    list-style-type: none;
    display: flex;
    height: 100%;
}

.menu li {
    height: 100%;
    display: contents;
}

.this-page a {
    background-color: #8383837e;
}

.menu a {
    color: #E5E5D4;
    font-size: 22px;
    /*取消底線*/
    text-decoration: none;
    padding-left: 40px;
    padding-right: 40px;
    letter-spacing: 0.05em;
    align-items: center;
    display: flex;
}

.menu a:hover {
    background-color: #8383837e;
    border-bottom: 3px solid #E5E5D4;
}

.right-box {
    display: flex;
    align-items: center;
}

.right-box ul {
    list-style-type: none;
}

.right-box a {
    text-decoration: none;
    color: #E5E5D4;
    font-size: 14px;
    letter-spacing: 0.05em;
}

.right-box li a:hover {
    color: #b8a397;
}


/*----header END----*/

.content {
    width: 100%;
    min-height: 800px;
    max-height: 100%;
    position: relative;
    top: 70px;
    padding-bottom: 180px;
}

.content img {
    width: 100%;
}

.content-body {
    display: flex;
    width: 70%;
    margin: 20px auto;
    flex-wrap: wrap;
}

.content-in {
    display: flex;
    margin: 20px 0px;
    width: 100%;
    justify-content: center;
}

.content-img {
    width: 30%;
}

.content-img img {
    border: 1px solid #5A3A29;
}

.content-text {
    display: inline-block;
    margin-left: 40px;
    color: #5A3A29;
    padding-top: 14px;
    width: 100%;
}

.content-title {
    font-size: 22px;
    letter-spacing: 0.15em;
    font-weight: 600;
}

.content-title-in {
    padding-top: 15px;
    text-align: justify;
    color: #371d0b;
    font-weight: 600;
}

.content-title-in2 {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.content-title-in3 {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: rgb(93, 91, 91);
    font-family: 'Inter';
}

#p1 {
    color: rgb(230, 126, 34);
}

#p2 {
    letter-spacing: 0.15em;
    font-size: 20px;
    color: rgb(48, 83, 134);
}


/*----content END----*/

.footer {
    background-color: rgba(90, 58, 41, 1);
    width: 100%;
    height: 60px;
    padding-top: 20px;
    margin-top: -64px;
    position: relative;
}

.footer-slogan {
    width: 100%;
    height: 55px;
    position: fixed;
    bottom: 0;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.slogan-left {
    color: #fff;
    font-size: 26px;
    letter-spacing: 0.3em;
    display: contents;
}

.slogan-right {
    color: #fff;
    font-size: 26px;
    letter-spacing: 0.3em;
    display: contents;
}

.slogan-img {
    width: 45px;
    height: 45px;
    padding: 0px 15px;
}

.slogan-left img {
    width: 100%;
    height: 100%;
}

.slogan-right img {
    width: 100%;
    height: 100%;
}

.line {
    margin: 0px 60px;
    text-align: center;
    padding-top: 15px;
    border-top: 1px solid #E5E5D4;
    color: #E5E5D4;
    font-size: 12px;
}